.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 27px;
}

.title {
  color: var(--black);
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
