.tagLike {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  border: none;
  background-color: transparent;
}

.filled {
  fill: var(--black)
}
